.DS_Store

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
release/
out/
.vite/
.tmp/

# Electron
*.blockmap

# TypeScript
*.tsbuildinfo

# Env
.env
.env.*

# Android / Gradle
**/local.properties
**/.gradle/
**/build/
**/.idea/
**/*.iml

